@inherits LayoutComponentBase

<div id="app">
    <header class="flex">
        <NavMenu />
    </header>

    <main class="flex flex-1">
        @Body
    </main>

    <footer class="flex">
        <Footer />
    </footer>
</div>
