<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="Reuzable/others.css" />
    <link rel="stylesheet" href="Reuzable/align.css" />
    <link rel="stylesheet" href="Reuzable/position.css" />
    <link rel="stylesheet" href="Reuzable/background.css" />
    <link rel="stylesheet" href="Reuzable/border.css" />
    <link rel="stylesheet" href="Reuzable/display.css" />
    <link rel="stylesheet" href="Reuzable/font.css" />
    <link rel="stylesheet" href="Reuzable/justContent.css" />
    <link rel="stylesheet" href="Reuzable/margin.css" />
    <link rel="stylesheet" href="Reuzable/padding.css" />
    <link rel="stylesheet" href="Reuzable/size.css" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
